[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C = US
ST = Virginia
L = Ashburn
O = CIL Academy
OU = Cloud Engineering
emailAddress = cloudops@cilacademy.com
CN = ec2-203-0-113-10.compute-1.amazonaws.com
